a:hover {
	text-decoration: none;
}


.header .nav li.item-select {
	background: #e9c500;
}
.header .nav li:hover {
	background: #e9c500;
}
.wtf-menu ul.submenu li:hover {
	background: #e9c500;
}
.tp-caption.grey_heavy_72-light {
	color: #e9c500;
}
.tp-caption.icon i {
	background: #e9c500;
}
.services-one .service-sec .icon {
	background: #e9c500;
}
.z-tabs.silver > ul > li.z-active > a {
	border-bottom: solid 5px #e9c500;
	color: #e9c500;
}
.z-tabs.horizontal .detail a:hover {
	background-color: #e9c500;
}
.meet-specialists .detail h6 {
	color: #e9c500;
}
.meet-specialists .detail a:hover {
	color: #e9c500;
}
.latest-news .post .detail a:hover {
	color: #e9c500;
}
.patients-testi .testi-sec span.name {
	color: #e9c500;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #e9c500;
}
.main-footer .tweets .text a:hover {
	color: #e9c500;
}
.main-footer .newsletter .form input[type=submit]:hover {
	background: #e9c500;
}
.cd-top {
	background-color: #e9c500;
}

.tp-bullets.preview4 .bullet.selected {
	background: #e9c500; !important;
}
.services-two .service-sec .icon {
	background: #e9c500;
}
.services-three .serv-sec {
	background: #e9c500;
}
.services-three .serv-sec.serv-sec2 {
	background: #e9c500;
}
.services-three .serv-sec.serv-sec3 {
	background: #e9c500;
}
.welcome-two .welcome-detail ul li {
	color: #e9c500;
}
.footer-light .emergency i {
	color: #e9c500;
}
.footer-light .main-footer .title h5 {
	color: #e9c500;
	border-bottom: solid 1px #e9c500;
}
.footer-light .main-footer .tweets .text a {
	color: #e9c500;
}
.footer-light .main-footer .tweets .icon {
	color: #e9c500;
}
.footer-light .main-footer .get-touch ul li a:hover span {
	color: #e9c500;
}

/** banner three **/
.main-banner-three {
	background: rgba(2, 173, 198, 0.69);
}
/** Fancybox overlay **/
.fancybox-overlay {
	background: rgba(2, 173, 198, 0.84);
}
/** Team Social icons **/
.cbp-caption-activeWrap {
	background-color: rgba(2, 173, 198, 0.81);
}

.appointment-form .form input[type=submit]:hover {
	background: #e9c500;
	color: #222222;
}
.services-five .service-sec .icon {
	background: #e9c500;
	box-shadow: 0 0 0 3px #e9c500;
}
.sub-banner .detail ul li:last-child a {
	color: #e9c500;
}
.sub-banner .detail ul li a:hover {
	color: #e9c500;
}
.why-choose li.open .link {
	color: #e9c500;
}
.why-choose li.open i {
	color: #e9c500; !important;
}
#services-slide .owl-controls .owl-page.active span {
	background: #e9c500;
}
.welcome-three .welcome-detail ul li i {
	color:#e9c500;
}
.member-detail .team-detail .name h6 {
	color: #e9c500;
}
.year {
	color: #e9c500;
}
.main-appointment-form .appointment-form {
	background: #e9c500;
}
.main-appointment-form .appoint-icon {
	background-color: #e9c500;
}
.contact-us .leave-msg .form input[type=submit]:hover {
	background: #e9c500;
}
.contact-us .give-msg input[type=submit]:hover {
	background: #e9c500;
}
.departments .depart-sec a:hover {
	background: #e9c500;
}
.investigation .investigation-sec .title {
	background: #e9c500;
}
.cbp-l-filters-list .cbp-filter-item.cbp-filter-item-active {
	color: #e9c500;
	border-bottom: solid 5px #e9c500;
}
.cbp-l-filters-list .cbp-filter-item:hover {
	border-bottom: solid 5px #e9c500;
}
.main-gallery .layer i {
	background: #e9c500;
}
.main-gallery .gallery-sec .detail h6 {
	color: #e9c500;
}
.main-gallery .gallery-sec .detail {
	border-bottom: solid 4px #e9c500;
}
.main-gallery a.gallery-sec:hover .detail {
	background: #e9c500;
}
.main-gallery .paging a:hover {
	background: #e9c500;
	border: solid 1px #e9c500;
}
.main-gallery .paging a.selected {
	background: #e9c500;
	border: solid 1px #e9c500;
}
.news-posts .comment-box .detail a:hover {
	background: #e9c500;
}
.news-posts .leave-reply .form input[type=submit]:hover {
	background: #e9c500;
}
.news-posts .categories ul li a:hover {
	color: #e9c500;
}
.news-posts .recent-posts .post-sec a.title:hover {
	color: #e9c500;
}
.news-posts .news-sec .detail a.read-more:hover {
	background-color: #e9c500;
}
.news-masonary .news-sec a:hover {
	color: #e9c500;
	text-decoration: none;
}
.text-posts .post-sec a.title:hover {
	color: #e9c500;
	text-decoration: none;
}
.text-posts .post-sec p a {
	color: #e9c500;
}
.text-posts .post-sec ul li a:hover i {
	color: #e9c500;
	text-decoration: none;
}
.text-posts .post-sec ul li a:hover span {
	color: #e9c500;
	text-decoration: none;
}
.text-posts .next-pre a:hover {
	color: #e9c500;
}
.patient-family .how-treat a:hover {
	color: #e9c500;
	text-decoration: none;
}
.procedures-links span.title {
	background: #e9c500;
}
.procedures .procedure-text ul li {
	color: #e9c500;
}
.procedures .about-cancer-center span.name {
	color: #e9c500;
}
#procedures-faq.accordion li.open .link {
	background-color: #e9c500;
}
.research .research-detail li i {
	color: #e9c500;
}
.services-content .serv-sec .detail h5 {
	color: #e9c500;
}
.product-thumb label {
	background: #e9c500;
}
.product-description h3 a {
	color: #e9c500;
}
.product-description .product-cart-btn:hover, .product-description .product-detail-btn:hover {
	color: #e9c500;
	text-decoration: none;
}
.ui-widget-header {
	background: #e9c500;
}
.top-products .top-products-detail a {
	color: #e9c500;
}
.ratings.big i {
	color: #e9c500;
}
.product-detail-slider .rslides_tabs li.rslides_here a {
	background: #e9c500;
}
a#add-review-btn:hover {
	color: #e9c500;
	text-decoration: none;
}
.resp-vtabs li.resp-tab-active {
	color: #e9c500;
}
.product-detail-description .btn-medium:hover {
	color: #e9c500;
	text-decoration: none;
}
.pricing-table-footer a {
	background-color: #e9c500;
}
.all-team-members .detail h6 {
	color: #e9c500;
}
.all-team-members .detail a:hover {
	color: #e9c500;
	text-decoration: none;
}
.cbp-l-caption-text a:hover {
	color: #e9c500;
	text-decoration: none;
}
.main-footer .useful-links ul li a:hover {
	color: #e9c500;
	text-decoration: none;
}
.main-footer .get-touch ul li a:hover span {
	color: #e9c500;
	text-decoration: none;
}
#accordion2 .time-table {
	background: #e9c500; url(../images/time-icon-bg.png) no-repeat;
}
.top-bar .get-touch li:last-child a:hover {
	color: #e9c500;
	text-decoration: none;
}
.meet-specialists .gallery-sec .layer {
	background-color: rgba(2, 173, 198, 0.84);
}
.member-detail .gallery-sec .layer {
	background-color: rgba(2, 173, 198, 0.81);
}
.meet-specialists .gallery-sec a:hover {
	color: #e9c500;
	text-decoration: none;
}
.footer-light .main-footer .newsletter .form input[type=submit]:hover {
	background: #e9c500;
}
.why-choose li i {
	color: #e9c500;
}
#page .header a {
	background-color: #e9c500; !important;
}
.mm-menu {
	background: #e9c500;!important;
}
ul.z-tabs-nav.z-tabs-mobile.z-state-closed {
	background-color: #e9c500; !Important;
}
ul.z-tabs-mobile li:first-child {
	background-color: #e9c500; !important;
}
.header2.sticky .nav li.item-select {
	background: #e9c500;
}

.shop-cart .cart-pro-detail .cancel i {
	color: #e9c500;
}
.cash-decide .cart-total .total-sec a {
	background: #e9c500;
}

.shop-cart .cart-update-sec a:hover {
	color: #e9c500;
	text-decoration: none;
}